.navbar.top {
	margin-bottom: 20px;
	background-color: #791344;
}
.navbar-brand.custom, .navbar-brand.custom:hover {
	color: #d8ba37;
	font-weight: bold;
}
.navbar-inverse.custom .navbar-nav li a, .navbar-brand.custom .navbar-nav li a:hover {
	color: #d8ba37;
}