.transaction-form {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
}

.transaction-form h3{
	margin-left: -25px;
	color: #791344;
}

.radio-inline {
	display: inline;
	font-weight: 400;
	margin-right: 10px;
	float: left;
	vertical-align: top;
}
.inline {
	width: 30%;
	float:left;
}
.inline i{
	margin-right: 5px;
	margin-left: 5px;
	font-size: 30px;
	vertical-align: bottom;
}